---
const bgColor = 'pink';
---
<style define:vars={{bgColor}}>
    .navbar {
        background-color: var(--bgColor);
    }
</style>

<div class="navbar nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>
